@model HomeViewModel
@{
    ViewData["Title"] = "Details";
}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script>
    AOS.init();
</script>

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div style="background-color:slategrey;">
                    @foreach (var item in Model.courses)
                    {
                        if (item.Id == ViewBag.coursId)
                        {
                            <div style="display:flex;justify-content:center;">
                                <div>
                                    <img data-aos="fade-up" style="width:450px" src="/@item.ImagePath"></img>
                                </div>
                            </div>
                            <div style="margin-top:40px;display:flex;justify-content:center;">
                                <div style="width:1000px">
                                    <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span data-aos="fade-right">Course Name</span><span data-aos="fade-left">@item.Name</span></div>
                                    <hr />
                                    <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span data-aos="fade-right">Date and Time</span><span data-aos="fade-left">@item.CoursesDetails.Starts.ToString("dd MMM yyyy")</span></div>
                                    <hr />
                                    <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span data-aos="fade-right">DURATION</span><span data-aos="fade-left">@item.CoursesDetails.Month</span></div>
                                    <hr />
                                    <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span data-aos="fade-right">Hours</span><span data-aos="fade-left">@item.CoursesDetails.Hours</span></div>
                                    <hr />
                                    <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span data-aos="fade-right">SKILL LEVEL</span><span data-aos="fade-left">@item.CoursesDetails.Level</span></div>
                                    <hr />
                                    <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span data-aos="fade-right">LANGUAGE</span><span data-aos="fade-left">@item.CoursesDetails.Language</span></div>
                                    <hr />
                                    <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span data-aos="fade-right">STUDENTS</span><span data-aos="fade-left">@item.CoursesDetails.Students</span></div>
                                    <hr />
                                    <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span data-aos="fade-right">ASSESMENTS</span><span data-aos="fade-left">@item.CoursesDetails.Assesments</span></div>
                                    <hr />
                                    <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span data-aos="fade-right">COURSE FEE</span><span data-aos="fade-left">$@item.CoursesDetails.CourseFee</span></div>
                                </div>
                            </div>

                            <div style="margin-top:70px">
                                <div data-aos="fade-up" style="color:white;font-size:18px">
                                    @Html.Raw(item.Descripton)
                                </div><br /><br />
                            </div>

                            <div style="margin-top:80px">
                                <div class="mb-3 row">
                                    <a asp-controller="Courses" asp-action="Index" class="btn btn-secondary" style="width:1250px;margin-top:15px">
                                        Back to List
                                    </a>
                                </div>
                            </div>

                            break;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>





