@using EduHome.UI.HeaderAndFooterService.Interface;
@inject ISettingService setting
@{
    var set = await setting.GetSettingAsync();
}
<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from htmldemo.net/tm/eduhome/eduhome/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jun 2023 06:56:44 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Eduhome - Educational HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/et-line-icon.css">
    <link rel="stylesheet" href="~/assets/css/reset.css">
    <link rel="stylesheet" href="~/assets/css/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <script src="~/assets/js/vendor/modernizr-3.11.2.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header Area Start -->
    <header class="top">
        <div class="header-area header-sticky fixed">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="index.html"><img src="@set["EduHome"]" alt="eduhome" /></a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="content-wrapper one">
                            <!-- Main Menu Start -->
                            <div class="main-menu one text-end">
                                <nav>
                                    <ul>
                                        <li>
                                            <a asp-controller="Home" asp-action="Index">Home</a>
                                            <ul>
                                                <li><a href="index.html">Home One</a></li>
                                                <li><a href="index-3.html">Home Three</a></li>
                                                <li><a href="index-4.html">Home Four</a></li>
                                                <li><a href="index-5.html">Home Five</a></li>
                                            </ul>
                                        </li>
                                        <li><a asp-controller="About" asp-action="Index">About</a></li>
                                        <li>
                                            <a asp-controller="Courses" asp-action="Index">courses</a>
                                            <ul>
                                                <li><a asp-controller="Courses" asp-action="Index">courses</a></li>
                                                <li><a asp-controller="Courses" asp-action="Index">courses details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a asp-controller="Event" asp-action="Index">event</a>
                                            <ul>
                                                <li><a asp-controller="Event" asp-action="Index">event</a></li>
                                                <li><a href="event-left-side-bar.html">event left sidebar</a></li>
                                                <li><a href="event-right-side-bar.html">event right sidebar</a></li>
                                                <li><a href="event-details.html">event details</a></li>
                                            </ul>
                                        </li>
                                        <li class="hidden-sm">
                                            <a asp-controller="Teachers" asp-action="Index">teacher</a>
                                            <ul>
                                                <li><a href="teacher.html">teacher</a></li>
                                                <li><a href="teacher-details.html">teacher details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a asp-controller="Blog" asp-action="Index">blog</a>
                                            <ul>
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="blog-left-side-bar.html">blog left sidebar</a></li>
                                                <li><a href="blog-right-side-bar.html">blog righ sidebar</a></li>
                                                <li><a href="blog-details.html">blog details</a></li>
                                            </ul>
                                        </li>
                                        <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                                        <li>
                                            <a href="contact.html">Buy Now</a>
                                        </li>
                                        @*--------------*@
                                        <li>
                                            <a class="nav-link">
                                                <span id="cartCount" class="badge text-bg-info">0</span>
                                                <a asp-controller="Cart" asp-action="GetUserCart">
                                                    <i style="font-size:20px" class="fa-solid fa-basket-shopping"></i>
                                                </a>
                                            </a>
                                        </li>
                                        @*--------------*@
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li>
                                                <a style="color:white">@User.Identity.Name</a>
                                                <ul>
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Panel</a></li>
                                                    }
                                                    <li><a asp-controller="SiginUp" asp-action="LogOut">Log Out</a></li>
                                                    <li><a asp-controller="UserOrder" asp-action="UserOrders">My Orders</a></li>
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a asp-controller="SiginUp" asp-action="LogIn">SiginUp</a>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                            <div class="mobile-menu one"></div>
                            <!-- Main Menu End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <!-- Footer Start -->
    <footer class="footer-area">
        <div class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-widget pr-60">
                            <div class="footer-logo pb-25">
                                <a href="index.html"><img src="@set["EduHome"]" alt="eduhome"></a>
                            </div>
                            <p>@set["EDUDesciption"]</p>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="@set["facebook"]"></i></a></li>
                                    <li><a href="#"><i class="@set["printerest"]"></i></a></li>
                                    <li><a href="#"><i class="@set["v"]"></i></a></li>
                                    <li><a href="#"><i class="@set["twiter"]"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-widget">
                            <h3>information</h3>
                            <ul>
                                <li><a href="#">addmission</a></li>
                                <li><a href="#">Academic Calender</a></li>
                                <li><a href="event.html">Event List</a></li>
                                <li><a href="#">Hostel &amp; Dinning</a></li>
                                <li><a href="#">TimeTable</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 pt-4 pt-lg-0">
                        <div class="single-widget">
                            <h3>useful links</h3>
                            <ul>
                                <li><a href="course.html">our courses</a></li>
                                <li><a href="about.html">about us</a></li>
                                <li><a href="teacher.html">teachers &amp; faculty</a></li>
                                <li><a href="#">teams &amp; conditions</a></li>
                                <li><a href="event.html">our events</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 pt-4 pt-lg-0">
                        <div class="single-widget">
                            <h3>get in touch</h3>
                            <p>@set["addres"].Substring(0,23)</br>@set["addres"].Substring(23)</p>
                            <p>@set["Number1"]<br>@set["Number2"]</p>
                            <p>@set["gmail1"]<br>@set["gmail2"]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>Copyright © <a href="#">Eduhome</a> 2022. All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery.meanmenu.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.js"></script>
    <script src="~/assets/js/ajax-mail.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.mb.YTPlayer.js"></script>
    <script src="~/assets/js/jquery.nicescroll.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
<script>
    loadCartCount();
    async function loadCartCount() {
        //var usernameEl = document.getElementById("username");
        //var username = usernameEl.innerText;

        try {
            var response = await fetch(`/Cart/GetTotalItemInCart`);
            if (response.status == 200) {
                var result = await response.json();
                console.log(result);
                var cartCountEl = document.getElementById("cartCount");
                cartCountEl.innerHTML = result;
            }
            else {
                console.log(response.status)
            }
        }
        catch (err) {
            console.log(err);
        }
    }
</script>
</html>

@await RenderSectionAsync("Scripts",required:false)

