@model ShoppingCart
@{
    ViewData["Title"] = "GetUserCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script>
    AOS.init();
</script>

<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>My Cart</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>
<p style="margin-top:30px"></p>
<div style="margin-top:200px;width:90%;margin:auto;" class="mt-2">
    @if (Model != null && Model.CartDetails != null && Model.CartDetails.Count > 0)
    {

        <table class="table table-striped">
            <tr>
                <th>Course</th>
                <th>Image</th>
                <th>Catagorie</th>
                <th>Unit Price(INR)</th>
                <th>Total Price</th>
                <th>Action</th>
            </tr>
            @foreach (var item in Model.CartDetails)
            {
                <tr>
                    <td>@item.Courses.Name</td>
                    <td>
                        <img src="/@item.Courses.ImagePath" style="width:80px;height:100px" />
                    </td>
                    <td>@item.Courses.Categories.Categorie</td>
                    <td>@item.Courses.CoursesDetails.CourseFee X @item.Quantity</td>
                    <td>@(item.Courses.CoursesDetails.CourseFee * item.Quantity)</td>
                    <td>
                        <a class="btn btn-info" href="/Cart/AddItem?courseId=@item.CoursesId&&redicret=1">+</a>
                        <a class="btn btn-info" href="/Cart/RemoveItem?coursesId=@item.CoursesId">-</a>
                    </td>
                </tr>
            }
        </table>

        <div class="my-2">
            <h5>Total(INR): </h5>
            @(Model.CartDetails.Select(item => item.Courses.CoursesDetails.CourseFee * item.Quantity).Sum())
        </div>

        <div class="my-2">
            <a class="btn btn-primary" asp-controller="Cart" asp-action="Checkout">Checkout</a>
        </div>

    }
    else
    {
        <div style="display:flex;"> 
            <div class="empty">
                <img src="https://img.freepik.com/free-vector/empty-cart-concept-illustration_114360-17701.jpg?w=740&t=st=1689169626~exp=1689170226~hmac=3dedc598ec5cb2f9ace69f4749162868c890114f7a5fbf70dd439edfe240710b" />
            </div>
            <div>
                <h2 data-aos="fade-down" style="margin-top:200px;font-size:50px;font-family:'Times New Roman', Times, serif">
                    Cart Is Empty
                </h2>
                <a asp-area="" asp-controller="Courses" asp-action="Index"><button data-aos="fade-left" id="StartShopping">Start shopping</button></a>
            </div>
        </div>
    }
</div>

<style>
    .empty {
        width: 60%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .empty img {
            width: 90%;
            height: 90%;
            object-fit: cover;
        }

    #StartShopping{
        margin-top:10px;
        padding:12px 0;
        width:250px;
        border-radius:6px;
        text-align: center;
        font-size:18px;
        background-color: #f27a1a;
        color:white;
    }

    #StartShopping:hover{
        opacity:0.8;
    }
</style>