@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
    int Count = 1;
}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body" style="font-size:18px">
                            <h4 class="card-title" style="font-size:18px;color:green">Blogs</h4>
                            <a asp-area="Admin" asp-action="Create" class="btn btn-outline-success" style="font-size:16px;"><i class="bx bx-plus-circle"></i> Create new Blog</a>
                            <td>Total Blog: @TempData["BlogeSum"]</td>
                            <div class="table-rep-plugin">
                                <div class="table-responsive mb-0" data-pattern="priority-columns">
                                    <table id="tech-companies-1" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Count</th>
                                                <th data-priority="1">Image</th>
                                                <th data-priority="3">Person Name</th>
                                                <th data-priority="1">Blog Create New</th>
                                                <th data-priority="3">Message Count</th>
                                                <th data-priority="3">Name</th>
                                                <th data-priority="3" style="color:deepskyblue">Edit</th>
                                                <th data-priority="3" style=" color:red">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr style="font-size:18px;">
                                                    <th>@Count</th>
                                                    <td><img src="/@item.ImagePath" style="width:100px" /></td>
                                                    <td>@item.PersonName</td>
                                                    <td>@item.Data_Time.ToString("dd MMM yyyy")</td>
                                                    <td>@item.MessageNum</td>
                                                    <td>@item.Name</td>
                                                    <td><a asp-area="Admin" asp-action="Edit" asp-route-id="@item.Id" style="cursor:pointer;color:deepskyblue"><i class="bx bx-edit"></i>Edit</a></td>
                                                    <td><a asp-area="Admin" asp-action="Delete" asp-route-id="@item.Id" style="cursor:pointer;color:red"><i class="bx bx-trash-alt"></i>Delete</a></td>
                                                </tr>
                                                Count++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
        </div>
    </div>
</div>
