@model HomeViewModel
@{
    ViewData["Title"] = "Details";
}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script>
    AOS.init();
</script>


<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div style="background-color:slategrey;">

                    @foreach (var item in Model.eventsDetails)
                    {
                        if (ViewBag.EventId == item.Events.Id)
                        {
                            <div style="display:flex;justify-content:center;margin-top:30px">
                                <div>
                                    <img data-aos="fade-down" style="width:450px" src="/@item.ImagePath"></img>
                                </div>
                            </div>
                            <div style="margin-top:40px;display:flex;justify-content:center;">
                                <div style="width:1000px">
                                    <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span data-aos="fade-right">Event Name</span><span data-aos="fade-left">@item.Events.Name</span></div>
                                    <hr />
                                    <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span data-aos="fade-right">Date and Time</span><span data-aos="fade-left">@item.Events.DateTime.ToString("dd MMM yyyy")</span></div>
                                    <hr />
                                    <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span data-aos="fade-right">Location</span><span data-aos="fade-left">@item.Events.Location</span></div>
                                    <hr />
                                </div>
                            </div>

                            <div style="margin-top:20px;display:flex;justify-content:center;">
                                <div style="width:1000px">
                                    <hr style="margin-top:40px;height:3px" />
                                </div>
                            </div>

                            <div style="display:flex;margin-top:50px;justify-content:center">
                                <div style="width:1000px;display:grid;grid-template-columns:auto auto">
                                    @foreach (var speakers in Model.events.Where(e => e.Id == item.Events.Id).SelectMany(e => e.Events_Speakers.Select(s => s.Speakers)))
                                    {
                                        <div style="margin-left:50px">
                                            <div data-aos="flip-left">
                                                <div style="width:400px" class="card overflow-hidden">
                                                    <div class="bg-primary bg-soft">
                                                        <div class="row">
                                                            <div class="col-7">
                                                                <div class="text-primary p-3">
                                                                    <h5 class="text-primary">Welcome Back !</h5>
                                                                    <p>It will seem like simplified</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-5 align-self-end">
                                                                <img src="/assets/img/about/profile-img.png" alt="" class="img-fluid">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body pt-0">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="avatar-md profile-user-wid mb-4">
                                                                    <img style="object-fit:cover" src="/@speakers.ImagePath" alt="" class="img-thumbnail rounded-circle">
                                                                </div>
                                                                <h5 class="font-size-15 text-truncate">@speakers.Name</h5>
                                                                <p class="text-muted mb-0 text-truncate">@speakers.Postions</p>
                                                            </div>

                                                            <div class="col-sm-8">
                                                                <div class="pt-4">
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <h5 class="font-size-15">@speakers.JobName</h5>
                                                                            <p class="text-muted mb-0">Event</p>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <h5 class="font-size-15">$1245</h5>
                                                                            <p class="text-muted mb-0">Revenue</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mt-4">
                                                                        <a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light btn-sm">View Profile <i class="mdi mdi-arrow-right ms-1"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div style="margin-top:70px">
                                <div style="color:white;font-size:18px">
                                    <p data-aos="fade-up" style="color:black;font-size:28px;font-weight:570;text-decoration: underline;">@item.Events.Name</p>
                                    <p data-aos="fade-up">@item.Description</p>
                                </div><br /><br />
                            </div>

                            <div style="margin-top:80px">
                                <div class="mb-3 row">
                                    <a asp-controller="Events" asp-action="Index" class="btn btn-secondary" style="width:1250px;margin-top:15px">
                                        Back to List
                                    </a>
                                </div>
                            </div>
                            break;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
