@model HomeViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //static string GetTimeAgo(DateTime dateTime)
    //{
    //    TimeSpan timeSince = DateTime.Now.Subtract(dateTime);

    //    if (timeSince.TotalMilliseconds < 1)
    //    {
    //        return "just now";
    //    }
    //    if (timeSince.TotalMinutes < 1)
    //    {
    //        return "less than a minute ago";
    //    }
    //    if (timeSince.TotalMinutes < 2)
    //    {
    //        return "1 minute ago";
    //    }
    //    if (timeSince.TotalMinutes < 60)
    //    {
    //        return string.Format("{0} minutes ago", timeSince.Minutes);
    //    }
    //    if (timeSince.TotalMinutes < 120)
    //    {
    //        return "1 hour ago";
    //    }
    //    if (timeSince.TotalHours < 24)
    //    {
    //        return string.Format("{0} hours ago", timeSince.Hours);
    //    }
    //    if (timeSince.TotalDays < 2)
    //    {
    //        return "yesterday";
    //    }
    //    if (timeSince.TotalDays < 30)
    //    {
    //        return string.Format("{0} days ago", timeSince.Days);
    //    }
    //    if (timeSince.TotalDays < 60)
    //    {
    //        return "1 month ago";
    //    }
    //    if (timeSince.TotalDays < 365)
    //    {
    //        return string.Format("{0} months ago", Math.Round(timeSince.TotalDays / 30));
    //    }
    //    if (timeSince.TotalDays < 730)
    //    {
    //        return "1 year ago";
    //    }
    //    return string.Format("{0} years ago", Math.Round(timeSince.TotalDays / 365));
            //}

}


@foreach (var item in Model.courses)
{
    if (item.Id == ViewBag.Id)
    {
        <!-- Banner Area Start -->
        <div class="banner-area-wrapper">
            <div class="banner-area text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-content-wrapper">
                                <div class="banner-content">
                                    <h2>courses details</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Area End -->


        <div class="courses-details-area blog-area pt-150 pb-140">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="courses-details">
                            <div class="courses-details-img">
                                <img style="width:800px;height:700px;object-fit:cover" src="/@item.ImagePath" alt="courses-details">
                            </div>
                            <div class="course-content" style="height:50px;">
                                <h1 style="font-size:30px;margin-top:-17px;color:#f27a1a">@item.Name</h1>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <button id="addd" type="button" onclick="add(@item.Id)" class="btn btn-success">
                                        Add to Cart
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                        </svg>
                                    </button>
                                }
                                else
                                {
                                    <a asp-controller="SiginUp" asp-action="LogIn">
                                        <button id="addd" type="button" class="btn btn-primary">
                                            Add to Cart
                                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                            </svg>
                                        </button>
                                    </a>
                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div id="Likeee" class="course-share d-flex align-items-center justify-content-center">
                                        <a asp-action="AddWishlist" asp-route-id="@item.Id" asp-controller="Courses">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16 ">
                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                            </svg>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <a asp-controller="SiginUp" asp-action="LogIn">
                                        <div id="Likeee" class="course-share d-flex align-items-center justify-content-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16 ">
                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                            </svg>
                                        </div>
                                    </a>
                                }
                            </div>
                            <div class="course-details-content">
                                <p>@Html.Raw(item.Descripton)</p>
                                <div class="course-details-left">
                                </div>
                                <div class="course-details-right">
                                    <h3>COURSE FEATURES</h3>
                                    <ul>
                                        <li>starts <span>@item.CoursesDetails.Starts.ToString("dd MMM yyyy")</span></li>
                                        <li>duration <span>@item.CoursesDetails.Month Month</span></li>
                                        <li>class duration <span>@item.CoursesDetails.Hours hours</span></li>
                                        <li>skill level <span>@item.CoursesDetails.Level</span></li>
                                        <li>language <span>@item.CoursesDetails.Language</span></li>
                                        <li>students <span>@item.CoursesDetails.Students</span></li>
                                        <li>assesments <span>@item.CoursesDetails.Assesments</span></li>
                                    </ul>
                                    <h3 class="red">course fee $@item.CoursesDetails.CourseFee</h3>
                                </div>
                            </div>

                            <form method="post" asp-controller="CourseDetails" asp-action="AddComment" asp-route-id="@item.Id">
                                <div style="margin-top:20px;">
                                    <h1>Write a comment</h1>
                                    <textarea asp-for="@Model.Comments" rows="4" class="form-control" placeholder="Your Comments"></textarea>
                                </div>
                                <div class="submit-section">
                                    <button style="margin-left:734px;margin-top:-60px" class="btn submit-btn" type="submit"><i style="font-size:20px;" class="fa-solid fa-paper-plane"></i></button>
                                </div>
                            </form>

                            @*-------------------------------------------*@


                            <div>
                                <div id="commentss">
                                    <div id="commentssAnswer">
                                        <p style="font-size:20px;">@TempData["CommentsSum"] <i style="color:#f27a1a;" class="fa-regular fa-comment"></i></p>
                                    </div>
                                    <div id="commentssS">
                                        @foreach (var comment in item.CourseComments.OrderByDescending(x => x.CreatedDate).Take(5))
                                        {
                                            <div class="ByComment">
                                                <div style="margin-left:20px;">
                                                    <div>@comment.Comment</div>
                                                    <div style="margin-top:7px;">
                                                        <span>@comment.User.UserName | <span style="color:#f27a1a">@comment.CreatedDate.ToString("dd MMM yyyy")</span></span>
                                                    </div>
                                                </div>
                                                <div style="margin-right:20px;">

                                                    <form id="likeForm" method="post" asp-action="AddLike">
                                                        <input type="hidden" name="userId" value="@comment.UserId" />
                                                        <input type="hidden" name="commentId" value="@comment.Id" />
                                                        <span class="like">
                                                            <i id="likeIcon" class="fa-solid fa-thumbs-up"></i>
                                                            @{
                                                                int likeSum = 0;
                                                                foreach (var comLike in Model.likes)
                                                                {
                                                                    if (comLike.CourseCommentId == comment.Id)
                                                                    {
                                                                        likeSum++;
                                                                        break;
                                                                    }
                                                                }
                                                            }
                                                            @likeSum
                                                        </span>
                                                    </form>


                                                    @if (User.Identity.Name == comment.User.UserName)
                                                    {
                                                        <form method="post" asp-action="CommentEdit" asp-route-commentId="@comment.Id">
                                                            <div>
                                                                <textarea placeholder="Edit" class="form-control" asp-for="@Model.Comments"></textarea>
                                                            </div>
                                                            <button style="margin-top:-30px;position:absolute;margin-left:170px" type="submit"><i style="font-size:20px;" class="fa-solid fa-paper-plane"></i></button>
                                                        </form>
                                                        <form method="post" asp-action="DeleteComment" asp-route-commentId="@comment.Id">
                                                            <button type="submit">Delete</button>
                                                        </form>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        <a asp-action="CommentsPage" asp-route-id="@item.Id">
                                            <div id="SHOWMORECOMMENTS">
                                                <p style="color:white;">SHOW MORE COMMENTS</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>



                            @*-------------------------------------------*@

                            <div class="reply-area">
                                <h3>LEAVE A REPLY</h3>
                                <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut<br> the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
                                <form id="contact-form" action="https://htmldemo.net/tm/eduhome/eduhome/mail.php" method="post">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>Name</p>
                                            <input type="text" name="name" id="name">
                                        </div>
                                        <div class="col-md-12">
                                            <p>Email</p>
                                            <input type="text" name="email" id="email">
                                        </div>
                                        <div class="col-md-12">
                                            <p>Subject</p>
                                            <input type="text" name="subject" id="subject">
                                            <p>Massage</p>
                                            <textarea name="message" id="message" cols="15" rows="10"></textarea>
                                        </div>
                                    </div>
                                    <a class="reply-btn" href="#" data-text="send"><span>send message</span></a>
                                    <p class="form-messege"></p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-sidebar right">
                            <div class="single-blog-widget mb-50">
                                <h3>search</h3>
                                <div class="blog-search">
                                    <form id="search" action="#">
                                        <input type="search" placeholder="Search..." name="search" />
                                        <button type="submit">
                                            <span><i class="fa fa-search"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="single-blog-widget mb-50">
                                <h3>categories</h3>
                                <ul>
                                    @foreach (var category in Model.categories)
                                    {
                                        <li><a href="#">@category.Categorie</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="single-blog-widget mb-50">
                                <div class="single-blog-banner">
                                    <a href="blog-details.html" id="blog"><img src="/assets/img/blog/blog-img.jpg" alt="blog"></a>
                                    <h2>best<br> eductaion<br> theme</h2>
                                </div>
                            </div>
                            <div class="single-blog-widget mb-50">
                                <h3>latest post</h3>
                                @foreach (var blog in Model.blogs.OrderByDescending(o => o.Data_Time).Take(3))
                                {
                                    <div class="single-post mb-30">
                                        <div class="single-post-img">
                                            <a href="blog-details.html">
                                                <img style="height:60px;" src="/@blog.ImagePath" alt="post">
                                                <div class="blog-hover">
                                                    <i class="fa fa-link"></i>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="single-post-content">
                                            <h4><a href="blog-details.html">@blog.Name</a></h4>
                                            <p>@blog.Data_Time.ToString("dd MMM yyyy")</p>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="single-blog-widget">
                                <h3>tags</h3>
                                <div class="single-tag">
                                    <a asp-controller="Courses" asp-action="Index" class="mr-10 mb-10">course</a>
                                    <a class="mr-10 mb-10">education</a>
                                    <a class="mb-10">teachers</a>
                                    <a class="mr-10">learning</a>
                                    <a class="mr-10">university</a>
                                    <a asp-controller="Event" asp-action="Index">events</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Blog Start -->
        <!-- Blog End -->
        <!-- Subscribe Start -->
        <!-- Subscribe Start -->
        <div class="subscribe-area pt-60 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="subscribe-content section-title text-center">
                            <h2>subscribe our newsletter</h2>
                            <p>I must explain to you how all this mistaken idea </p>
                        </div>
                        <div class="newsletter-form mc_embed_signup">
                            <form action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll" class="mc-form">
                                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your e-mail address" required>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                    <button id="mc-embedded-subscribe" class="default-btn" type="submit" name="subscribe"><span>subscribe</span></button>
                                </div>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div>
                            <!-- mailchimp-alerts end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Subscribe End -->
        break;
    }
}

<style>
    .form-control {
        height: 20px;
    }

    #commentss {
        border: 1px solid #d2d6d4;
        height: 570px;
        border-radius: 5px;
    }

    #commentssAnswer {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center
    }

    #commentssS {
        height: 470px;
        width: 100%;
        border-top: 1px solid #d2d6d4;
    }

    .ByComment {
        width: 100%;
        height: 18%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .like {
        font-size: 15px;
        font-weight: 200;
    }

        .like:hover {
            color: #f27a1a;
        }

    #SHOWMORECOMMENTS {
        width: 90%;
        height: 30px;
        border: 1px solid #d2d6d4;
        margin-left: 34px;
        border-radius: 6px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f27a1a;
        color: white !important;
    }

    #addd {
        padding: 6px 20px 6px 20px;
        border: none;
        margin-bottom: 25px;
        background-color: white;
        color: forestgreen;
        border: 1px solid forestgreen;
        margin-top: -40px;
        margin-left: 140px;
    }

        #addd:hover {
            background-color: forestgreen;
            color: white;
        }

    #Likeee {
        margin-top: -55px;
        margin-left: -30px;
    }
</style>


@section Scripts{
    <script>
        async function add(courseId) {
            //var usernameEl = document.getElementById("username");
            //if (usernameEl == null) {

            //}
            try {
                var response = await fetch(`/Cart/AddItem?courseId=${courseId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    //window.location.href = "#cartCount"
                }
                else {
                    console.log(response.status)
                }
            }
            catch (err) {
                console.log(err);
            }
        }


        var likeIcon = document.getElementById('likeIcon');
        var likeForm = document.getElementById('likeForm');

        likeIcon.addEventListener('click', function () {
            likeForm.submit();
        });


    </script>
}